<!DOCTYPE html>
<html>
  <head>
    <title>Stats Royale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="title is-1"><%= link_to 'Stats Royale', root_path %></h1>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
              <img src="https://en.wikipedia.org/wiki/Clash_Royale#/media/File:Clash_Royale_game_logo.png" width="112" height="28">
            </a>
          <!-- navbar items, navbar burger... -->
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link_to 'Home', root_path %> |
            <%= link_to 'Players', players_path %> |
            <%= link_to 'Battles', battles_path %> |
            <%= link_to 'About Stats Royale', permalink_path('about_us') %>
          </div>

          <div class="navbar-end">
            <!-- navbar items -->
          </div>
        </div>
      </nav>
    </header>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link" aria-label="Goto page 1">1</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 45">45</a>
        </li>
        <li>
          <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 47">47</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 86">86</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
